aiohttp==3.4.4
async-timeout==3.0.0
atomicwrites==1.2.1
attrs==18.2.0
chardet==3.0.4
cssselect==0.9.1
Django==2.1.1
django-appconf==1.0.1
django-compressor==2.0
factory-boy==2.8.1
Faker==0.8.6
idna==2.7
idna-ssl==1.1.0
lxml==3.5.0
more-itertools==4.3.0
multidict==4.4.0
pluggy==0.7.1
py==1.6.0
pytest==3.8.0
pytest-django==3.4.2
python-dateutil==2.6.1
pytz==2018.5
rcssmin==1.0.6
requests==2.11.1
rjsmin==1.0.12
six==1.10.0
text-unidecode==1.1
yarl==1.2.6
