{% load i18n staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exchange offices</title>
    {% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
{% endblock %}
</body>
</html>