{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block content %}

    <h1>{% trans "Click on the map!" %}</h1>


<div class="row editor--all">
    <div id="map" class="col-md-8"></div>
    <div class="col-md-4">

        <input type="checkbox" /> {% trans "IdeaBank24" %}

        <hr>
        <div class="col-md-6">
            <button class="btn btn-warning js-clear map-action-button">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                {% trans "Clear" %}
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary js-save map-action-button">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% trans "Save" %}
            </button>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
    {{ block.super }}
    <script src="https://api-maps.yandex.ru/2.1/?lang=be_BY" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
{% endblock %}