{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block content %}
<div>
    <div>
        {% trans 'Anon' as anonimus %}
        <h1 class="toLeft">{% trans 'Hi' %}, {{ form.name.value|default:anonimus }}!</h1>
        <form class="toRight" action="{% url 'set_language' %}" method="POST" id="language-switch">{% csrf_token %}
            <button class="btn btn-sm btn-default" name="language" value="be">BE</button>
            <button class="btn btn-sm btn-default" name="language" value="ru">RU</button>
        </form>
        <form class="toRight" id="other-name-form" action="{% url 'rates' %}" method="get">
            {% trans "It's not me! My name is" %} <input name="name">
            <input type="submit" value="{% trans 'show me my rates!' %}" class="btn btn-primary btn-sm" />
        </form>

        <div class="clear"></div>
    </div>
    <div>
        <p>
            {% blocktrans %}Very likely you will prefer to use awesome
            <a href="http://mobile.tut.by/app-finance.html" target="_blank">tut.by application</a>
            or use original <a href="http://select.by/kurs/" target="_blank">select.by</a> site.
            {% endblocktrans%}
        </p>
        <p>{% trans 'If you still want to try this filter, select exchange offices you would like to follow and type any unique name.' %}</p>
        <p>{% trans 'Rates are updated each 15 minute: not too rare for you, not too often for me and select.by' %}</p>
        <p>{% trans 'Your choice will be stored in cookies and can be restored by username' %}</p>
        <p>{% trans 'Have a nice rate!' %}</p>
    </div>
</div>
<form id="config-form" method="post" action=".">{% csrf_token %}
    <div>
        {{ form.non_field_errors }}
    </div>
    <div id="name-wrapper">
        <p>{{ form.name.errors}}</p>
        <p>{% trans 'Name'%}: {{ form.name }} <input type="submit" value="{% trans 'Save' %}" class="btn btn-success"></p>
    </div>
    <hr>

    <div>{% trans 'Oooh! How much offices there is here! Filter them!' %} <input id="filter-list" /></div>
    <div id="exchange_offices-wrapper">
        <div>
            {{ form.exchange_offices.errors }}
        </div>
        <div>
            {{ form.exchange_offices }}
        </div>
    </div>
    {% if form.instance.id %}
    <input type="hidden" name="id" value="{{ form.instance.id }}" />
    {% endif %}
</form>
{% endblock %}


{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
{% endblock %}