{% extends 'base.html' %}
{% load i18n staticfiles compress %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/themes/theme.blue.min.css' %}">
{% endblock %}


{% block content %}
<div id="rates-header">
    <div class="toLeft">
        {% blocktrans %}This page exists thanks to <a href="http://select.by/" target="_blank">select.by</a> data!{% endblocktrans %}
    </div>
    <div class="toRight">
        <a href="{% url 'config' %}?name={{ name }}" class="btn btn-default">{% trans 'settings' %}</a>
    </div>
    <div class="clear"></div>
</div>

<table class="tablesorter tablesorter-blue">
    <thead>
        <tr>
            <th>{% trans 'Exchange office' %}</th>
            <th>USD {% trans 'buy' %}</th>
            <th>USD {% trans 'sell' %}</th>
            <th>EUR {% trans 'buy' %}</th>
            <th>EUR {% trans 'sell' %}</th>
            <th>RUB {% trans 'buy' %}</th>
            <th>RUB {% trans 'sell' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for office in offices %}
        <tr>
            <td>{{ office.bank.name }}. {{ office.address }}</td>
            {% for rate in office.rates %}
            <td class="{% if rate.is_best %}is-best{% endif %}">{{ rate.rate|floatformat:-4 }}</td>
            {% endfor %}

        </tr>
    {% endfor %}
    </tbody>
</table>

<hr>

<div>
    <div class="toLeft" id="counter-data" data-nbrb-rates="{% url 'nbrb_rates' %}">
        <div id="nbrb-block">        
            <div>
                <span class="h3">{% trans 'Last NBRB rates' %}</span> (<span id="nbrb-time"></span>)
            </div>
            <div>
                <h4 class="toLeft rate-caption">{% trans 'usd' %}</h4> <h4 class="rate-value toLeft" id="prev-nbrb"></h4>
                <div class="clear"></div>
            </div>
            <div>
                <h4 class="toLeft rate-caption">{% trans 'rub' %}</h4> <h4 class="toLeft rate-value" id="prev-rub"></h4>
                <div class="clear"></div>
            </div>
        </div>
        <div id="predict-block"> 
            <div>
                <span class="h3">{% trans 'Current RUB rate' %}</span> (<span id="current-rub-time"></span>)
            </div>
            <div>
                <input id="current-rub"/> <span>{% trans 'Autocount end-rate' %} </span><input id="count-nbrb" type="checkbox" checked="checked" />
            </div>
            <div>
                <p id="predict-line">
                    {% blocktrans %}<span> I expect </span><input id="next-nbrb" value="" /><span> for dollar on the end of the trades</span>{% endblocktrans  %}
                </p>
            </div>
        </div>
    </div>
    <div class="toLeft" id="counter-results">
        <h3>{% trans 'Condition for in-day buy-sell operation' %}:</h3>
        <table>
            <tr>
                <td>{% trans 'You can sell at' %}: </td>
                <td id="sell-at"></td>
            </tr>
            <tr>    
                <td>{% trans 'You can buy at' %}: </td>
                <td id="buy-at"></td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
</div>
<div>
    <h3>{% trans 'Fix coefficients' %}:</h3>
    <div>
        <span>{% trans 'Exchange office sell margin' %}</span><input id="exchange-sell-to-nbrb" value="1" /><span>%</span>
    </div>
    <div>
        <span>{% trans 'Exchange office buy margin' %}</span><input id="exchange-buy-to-nbrb" value="1" /><span>%</span>
    </div>
</div>



{% endblock %}


{% block script %}
    {{ block.super}}
    <script type="text/javascript" src="{% static 'js/lib/tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/tablesorter/jquery.tablesorter.widgets.js' %}"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/rates.js' %}"></script>
    {% endcompress %}
{% endblock %}
