{% extends 'base.html' %}
{% load i18n staticfiles compress l10n %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/themes/theme.blue.min.css' %}">
{% endblock %}


{% block content %}
<div id="rates-header">
    <div class="toLeft">
        {% blocktrans %}This page exists thanks to <a href="http://select.by/" target="_blank">select.by</a> data!{% endblocktrans %}
    </div>
    <div class="toRight">
        <a href="{% url 'config' %}?name={{ name }}" class="btn btn-default">{% trans 'settings' %}</a>
    </div>
    <div class="clear"></div>
</div>

<table class="tablesorter tablesorter-blue">
    <thead>
        <tr>
            <th>{% trans 'Exchange office' %}</th>
            <th>USD {% trans 'buy' %}</th>
            <th>USD {% trans 'sell' %}</th>
            <th>EUR {% trans 'buy' %}</th>
            <th>EUR {% trans 'sell' %}</th>
            <th>RUB {% trans 'buy' %}</th>
            <th>RUB {% trans 'sell' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for office in offices %}
        <tr>
            <td>{{ office.bank.name }}. {{ office.address }}</td>
            {% for rate in office.rates %}
            <td class="{% if rate.is_best %}is-best{% endif %}">{{ rate.rate|unlocalize }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr>

<div>
    <div class="toLeft" id="counter-data">
        <div id="nbrb-block">        
            <div>
                <span class="h3">{% trans 'Last NBRB rates' %}</span>
                (<span id="nbrb-time">{{ dynamic_settings|get_item:"nbrb rates date"}}</span>)
            </div>
            <div>
                <h4 class="toLeft rate-caption">{% trans 'usd' %}</h4>
                <h4 class="rate-value toLeft" id="prev-usd">{{ dynamic_settings|get_item:"nbrb usd"}}</h4>
                <div class="clear"></div>
            </div>
            <div>
                <h4 class="toLeft rate-caption">{% trans 'eur' %}</h4>
                <h4 class="rate-value toLeft" id="prev-eur">{{ dynamic_settings|get_item:"nbrb eur"}}</h4>
                <div class="clear"></div>
            </div>
            <div>
                <h4 class="toLeft rate-caption">{% trans 'rub' %}</h4>
                <div class="toLeft">
                    <h4 class="rate-value" id="prev-rub">{{ dynamic_settings|get_item:"nbrb rub"}}</h4>
                    (<h8 id="prev-usd-rub"></h8> <img src="http://u4ilka.kcbux.ru/Raznoe/image/rub-002.png" alt="&#8381;" id="rub-to-usd-symbol">/$)
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="predict-block"> 
            <div>
                <span class="h3">{% trans 'Current RUB rate' %}</span>
            </div>
            <div>
                <input id="current-rub"/>
                <span id="current-rub-time-wrapper">(<span id="current-rub-time"></span>)</span>
            </div>
            <div>
                <p id="predict-line">
                    {% blocktrans %}<span> I expect </span><input id="next-nbrb" value="" /><span> for dollar on the end of the trades</span>{% endblocktrans  %}
                </p>
            </div>
        </div>
    </div>
    <div class="toLeft" id="counter-results">
        <div>
            <h3>{% trans 'Condition for in-day buy-sell operation' %}:</h3>
            <table>
                <tr>
                    <td>{% trans 'You can sell at' %}: </td>
                    <td id="sell-at"></td>
                </tr>
                <tr>
                    <td>{% trans 'You can buy at' %}: </td>
                    <td id="buy-at"></td>
                </tr>
            </table>
        </div>
        <div id="depo-planner">
            <div>
                <span class="h3">{% trans 'Plan your deposit in' %}</span>
                <select id="plan-foreign-currency">
                    <option value="usd">USD</option>
                    <option value="eur">EUR</option>
                </select>
                <span class="h3">{% trans 'for' %}</span>
                <input id="months" value="3">
                <span class="h3"> {% trans 'months' context 'plan-deposit' %}</span>
                <span id="deposit-planner-question"
                      class="glyphicon glyphicon-question-sign"
                      data-toggle="tooltip" data-placement="top"
                      title="{% trans 'When exchange rate is stable deposits with lower percents are not effective and can even lead to money loss nominated in national currency. Here you can type your most optimistic and pessimistic rate expectations, specify period in months and this tool will advice you what share of savings can prevent money loss. Remember that middle-term and long-term savings need different management.' %}">
                </span>
            </div>

            <div class="planner-block">
                <h4>{% trans 'National currency' %}:</h4>
                <div class="toLeft"><input id="byn-percent" value="{{ dynamic_settings|get_item:"byn percent"}}">%</div>
                <div class="toLeft hidden">
                    <span>{% trans 'Double capitalization' %}: </span><input id="byn-double" type="checkbox">
                </div>
                <div class="clear"></div>
            </div>

            <div class="planner-block">
                <h4>{% trans 'Foreign currency' %}</h4>
                <div class="toLeft"><input id="foreign-percent" value="{{ dynamic_settings|get_item:"foreign percent"}}">%</div>
                <div class="toLeft">
                    <span>{% trans 'Take conversation loss into account' %}</span>
                    <input id="conversation-loss" type="checkbox" checked="checked">
                </div>
                <div class="clear"></div>
            </div>

            <div class="planner-block" id="expectations">
                <h4>{% trans 'Exchange rates expectations' %}:</h4>
                <div class="toLeft">
                    {% trans 'Maximal' %}:
                    <input id="expect-max" value="{{ dynamic_settings|get_item:"nbrb usd"}}">
                </div>
                <div class="toLeft">
                    {% trans 'Minimal' %}: <input id="expect-min" value="{{ dynamic_settings|get_item:"nbrb usd"}}">
                </div>
                <div class="clear"></div>
            </div>

            <div class="planner-block hidden" id="advice">
                <h4>{% trans 'Currencies proportion' %}:</h4>
                <div id="cant-prevent-loss" class="hidden">
                    {% trans "Loss of" %} <span id="loss"></span>% {% trans "can't be prevented with such rates expectations." %}
                </div>
                <div class="toLeft">{% trans 'National currency' %}: <span id="byn-advice"></span>%</div>
                <div class="toLeft">{% trans 'Foreign' %}: <span id="foreign-advice"></span>%</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="hidden">
    <h3>{% trans 'Fix coefficients' %}:</h3>
    <div>
        <span>{% trans 'Exchange office margin' %}</span><input id="exchange-margin" value="0.5" /><span>%</span>
    </div>
</div>



{% endblock %}


{% block script %}
    {{ block.super}}
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/lib/tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/tablesorter/jquery.tablesorter.widgets.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rates.js' %}"></script>
    {% endcompress %}
{% endblock %}
