.toLeft {float: left;}
.toRight {float: right;}
.clear {clear: both;}

body{padding: 0 2em;}
#config-form{margin: 2em auto; width: 50em;}
#name-wrapper{text-align: center;}
.rates--header{padding: 1em;}
.rates--actions{text-align:right;}
.rates--logout, .rates-login--text{display: inline;}
.rates-predict--current-rub {margin-top: 15px; }
.rates-rub-to-usd-symbol{height: 0.8em;}

.errorlist{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    list-style:none;
}

body table.tablesorter{
    max-width: 40em;
    margin: 0 auto;
    font-size: 24px;
}

table.tablesorter td:first-child{
    font-size: 0.65em;
}

table.tablesorter td.is-best{
    background-color: #AFFFAF;
}


.rates-counter--left{width: 280px;}
.rates-counter--left>.row {
    margin-top: 1em;
}

#predict-block input{
    max-width: 6em;
}

#predict-line.up{
    color: green;
}

#predict-line.down{
    color: red;
}

#current-rub-time-wrapper{
    margin-left: 9em;
}

#depo-planner input{width: 3em;}

.planner-block>div{margin-right: 1em;}
.planner-block{margin-top: 1em;}
#expectations input{width: 5em;}
#depo-planner{margin-bottom: 2em;}
#map{height: 500px;}
.map-action{width: 100%;}
.editor-right--block>.row{margin: 10px 0px;}